---
import type { ProjectExpand } from '../../types'
import type { ProjectsResponse } from '../../types/pocketbase-types'
import ProjectCard from './ProjectCard.astro'

interface Props {
  projects: ProjectsResponse<ProjectExpand>[]
}

const { projects } = Astro.props
---

<section id="project-grid-container" class="grid grid-cols-1 md:grid-cols-3 gap-8">
  {projects.map((project) => <ProjectCard project={project} />)}
</section>
