---
interface HeroProps {
  posterUrl: string;
  videoMp4Url?: string;
  videoWebmUrl?: string;
}
const { posterUrl, videoMp4Url, videoWebmUrl } = Astro.props;
---

<style>
  @keyframes fadeOut {
    from {
      opacity: 0.35;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(-12px);
    }
  }

  .animate-fade-out {
    animation: fadeOut 1.2s ease-in forwards;
    animation-delay: 0.5s;
  }
</style>
<section
  class="relative h-[110vh] w-full flex items-center justify-center overflow-hidden"
>
  <div class="absolute inset-0 z-0">
    <video
      autoplay
      loop
      muted
      playsinline
      poster={posterUrl}
      class="w-full h-full object-cover grayscale-10 brightness-40 contrast-110"
    >
      <source src={videoWebmUrl} type="video/webm" />
      <source src={videoMp4Url} type="video/mp4" />
    </video>
    <div
      class="absolute inset-0 bg-gradient-to-b from-aspada-navy/80 via-transparent to-aspada-navy/20"
    >
    </div>
  </div>

  <div class="relative z-10 w-full max-w-5xl mx-4 text-center animate-fade-out">
    <div class="flex justify-center mb-8">
      <span
        class="px-5 py-1.5 border border-aspada-gold/30 rounded-full text-aspada-gold text-[10px] uppercase tracking-[0.5em] bg-black/20 backdrop-blur-md"
      >
        Established 2010
      </span>
    </div>

    <h1
      class="text-6xl md:text-9xl font-bold leading-[0.85] mb-8 text-aspada-cream tracking-tighter"
    >
      SHAPING <br />
      <span
        class="bg-gradient-to-b from-aspada-gold via-aspada-gold/80 to-aspada-gold bg-clip-text text-transparent"
      >
        SILHOUETTES
      </span>
    </h1>

    <p
      class="text-aspada-silver text-lg md:text-2xl max-w-2xl mx-auto font-light leading-relaxed mb-12"
    >
      Experience the harmony of modern engineering and royal aesthetics in the
      heart of <span class="text-aspada-cream font-medium">Shivamogga</span>.
    </p>

    <div class="flex items-center justify-center gap-6">
      <div class="w-16 h-px bg-[#d4af37]/40"></div>
      <div class="hover:animate-tada">
        <div
          class="i-lucide-mouse-pointer-2 text-[#d4af37] text-2xl rotate-220"
        >
        </div>
      </div>
      <div class="w-16 h-px bg-[#d4af37]/40"></div>
    </div>
  </div>
</section>
