<div
  id="mobile-menu"
  class="fixed inset-x-0 top-full mt-4 bg-aspada-steel/70 backdrop-blur-3xl border border-white/10 rounded-3xl p-6 mx-4 opacity-0 translate-y-4 pointer-events-none transition-all duration-300 md:hidden shadow-3xl text-aspada-silver"
>
  <div class="flex flex-col gap-6">
    <a href="/" class="text-xl font-bold border-b border-white/5 pb-4">Home</a>

    <div class="space-y-4">
      <p
        class="text-[10px] uppercase tracking-[0.4em] text-[#d4af37] font-black"
      >
        Our Offerings
      </p>
      <div class="grid grid-cols-1 gap-2">
        <a
          href="/projects/residential"
          class="flex items-center gap-4 bg-white/5 p-4 rounded-xl"
        >
          <div class="i-lucide-home text-blue-500"></div>
          <span class="font-bold text-sm uppercase tracking-widest"
            >Residential Projects</span
          >
        </a>
        <a
          href="/projects/commercial"
          class="flex items-center gap-4 bg-white/5 p-4 rounded-xl"
        >
          <div class="i-lucide-building-2 text-purple-500"></div>
          <span class="font-bold text-sm uppercase tracking-widest"
            >Commercial Projects</span
          >
        </a>
        <a
          href="/projects/plots"
          class="flex items-center gap-4 bg-white/5 p-4 rounded-xl"
        >
          <div class="i-lucide-map text-purple-500"></div>
          <span class="font-bold text-sm uppercase tracking-widest">Plots</span>
        </a>
        <a
          href="/blog"
          class="flex items-center gap-4 bg-white/5 p-4 rounded-xl"
        >
          <div class="i-lucide-building-2 text-purple-500"></div>
          <span class="font-bold text-sm uppercase tracking-widest"
            >Latest News</span
          >
        </a>
      </div>
    </div>

    <div class="flex gap-6 justify-center pt-4 text-aspada-silver/40">
      <a
        href="https://instagram.com/aspadadevelopers/"
        class="i-lucide-instagram text-2xl"></a>
      <a
        href="https://facebook.com/aspadadevelopers"
        class="i-lucide-facebook text-2xl"></a>
      <a
        href="https://youtube.com/@aspadadevelopers/videos"
        class="i-lucide-youtube text-2xl"></a>
    </div>
  </div>
</div>
