---
import type { PostInfoExpand } from '../../types'
import type { PostsResponse } from '../../types/pocketbase-types'
import PostCard from './PostCard.astro'

interface Props {
  posts: PostsResponse<PostInfoExpand>[]
}

const { posts } = Astro.props
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  {posts.map((post) => <PostCard post={post} />)}
</div>
