---
import { ClientRouter } from "astro:transitions";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body
    class="bg-aspada-navy text-aspada-cream font-sans selection:bg-aspada-gold selection:text-aspada-navy"
  >
    <slot />
  </body>
</html>
